* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 1vw;
}

header {
  display: flex;
  justify-content: center;
  padding: 2em 0;
  column-gap: 1.5em;
  background-color: #2e2e2e;
}

header a {
  font-size: 1.5em;
  text-decoration: none;
  color: white;
}

header a:hover {
  text-decoration: underline;
}

header a:active {
  color: gray;
}

footer {
  display: flex;
  justify-content: center;
  column-gap: 1.5em;
  padding: 1em;
  font-size: 2em;
  background-color: black;
  color: aliceblue;
}

main {
  flex: 1;
}

.container h1 {
  text-align: center;
}

.container > div {
  width: 60vw;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  text-align: left;
}

ul a {
  color: black;
  text-decoration: none;
}
ul a:hover {
  color: red;
  text-decoration: underline;
}
